.font-card-principal {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}
.font-criar-conta {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: italic;
}
